/* all tag */
*{
margin: 0;
padding: 0;
border: none;
font-family: '微软雅黑';
font-size: 1.5625vw;
}
html,body{
height: 100%;
}
/* music */
.music{
position: fixed;
top: 3vh;
right: 4vw;
z-index: 5;
width: 15vw;
height: 15vw;
border: 4px solid #ef1639;
border-radius: 50%;
background: #fff;
}

.music > img:first-child{
position: absolute;
top: 24%;
right: 2.5%;
width: 28.421%;
z-index: 1;
}

.music >img:last-child{
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
width: 79%;

}

.music > img.play{
	animation: music 4s linear infinite;
}
@keyframes music {
	0{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
	
}
/* page bg */
.page{
position: absolute;
height: 100%;
width: 100%;
}
.page >.bg{
width: 100%;
height: 100%;
position: absolute;
z-index: -1 ;
}
#page1{
	display: none;
}
#page1 >.bg{

background: url('../image/p1_bg.jpg') no-repeat center center;
background-size: 100%;
}
#page1 > .p1_lantern{
position: absolute;
top: -3.4%;
right: 0;
left: 0;
margin : auto;
background: url('../image/p1_lantern.png') no-repeat center center;
background-size: 100%;
width: 45vw;
height: 71.2vh;
font-size: 3.506rem;
box-sizing: border-box;
padding-top: 30vh;
text-align: center;
}
#page1 > .p1_lantern:before{
position: absolute;
content: '';
top: 0;
bottom: 3vh;
right: 0;
left: 0;
margin: auto;
background: #df0b3b;
opacity: .5;
border-radius: 50%;
width: 30vw;
height: 30vw;
z-index: -1;
-webkit-box-shadow:  0 0  10vw 10vw #df0b3b;
-moz-box-shadow:  0 0  10vw 10vw #df0b3b;
-ms-box-shadow:  0 0  10vw 10vw #df0b3b;
-o-box-shadow:  0 0  10vw 10vw #df0b3b;
box-shadow:  0 0  10vw 10vw #df0b3b;


animation: lantern .5s infinite alternate linear;
}

@keyframes lantern{
	0%{
		opacity: .5;
		-webkit-transform:scale(.8,.8);
		-ms-transform: scale(.8,.8);
		-o-transform:scale(.8,.8);
		transform:scale(.8,.8);
	}
	100%{
		opacity: 1;
	}
}



#page1 > .p1_imooc{
position: absolute;
bottom: 9vh;
left: 0;
right: 0;
background: url('../image/p1_imooc.png') no-repeat center center;
background-size: 100%;
width:27.656vw;
height: 18.63vh;
margin: auto;
}
#page1 > .p1_words{
font-size: 2.134rem;
position: absolute;
bottom: 48px;
left: 0;
right: 0;
text-align: center;
}
/* page2 */
#page2{
display: none;
}
#page2 > .bg{

background: url('../image/p2_bg.jpg') no-repeat center center;
background-size: 100%;
}

#page2 > .p2_circle{
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
background: url('../image/p2_circle_outer.png') no-repeat center center;
background-size: 100%;
width: 59.375vw;
height: 59.375vw;

-webkit-animation: music 1s 2s infinite linear reverse;
-o-animation: music 1s 2s infinite linear reverse;
animation: music 1s 2s infinite linear reverse;
}

#page2 > .p2_circle:before{
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
background: url('../image/p2_circle_middle.png') no-repeat center center;
background-size: 100%;
width: 45.625vw;
height: 45.625vw;
content: '';
border-radius: 50%;

-webkit-animation: music .66s 2s infinite linear;
-o-animation: music .66s 2s infinite linear;
animation: music .66s 2s infinite linear;
}
#page2 > .p2_circle:after{
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
background: url('../image/p2_circle_inner.png') no-repeat center center;
background-size: 100%;
width: 39.9375vw;
height: 39.9375vw;
content: '';
border-radius: 50%;
	-webkit-animation: music .33s 1s infinite linear reverse;
	-o-animation: music .33s 1s infinite linear reverse;
	animation: music .33s 1s infinite linear reverse;
}
#page2 > .p2_2018{
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
margin: auto;
background: url('../image/p2_2016.png') no-repeat center center;
background-size: 100%;
width: 27.5vw;
height: 27.5vw;
}
/* page3 */
#page3{
	display: block;
}

#page3 > .bg{
background: url('../image/p3_bg.jpg') no-repeat center center;
background-size: 100%;
}

#page3 > .p3_logo{
width: 34.6875vw;
height: 6.327vh;
position: absolute;
top: 7.82vh;
right: 0;
left: 0;
background: url('../image/p3_logo.png') no-repeat center center;
background-size: 100%;
margin: auto;
}

#page3 > .p3_title{
width: 48.125vw;
height: 50vh;
position: absolute;
top: 21vh;
right: 0;
left: 0;
margin:0 auto;
background: url('../image/p3_title.png') no-repeat center center;
background-size: 100%;
}
#page3 > .p3_second{
width: 22.8125vw;
height: 41.652vh;
position: absolute;
top: 25.48vh;
left: 3.75vw;
background: url('../image/p3_couplet_second.png') no-repeat center center;
background-size: 100%;
}
#page3 > .p3_first{
width: 22.8125vw;
height: 41.652vh;
position: absolute;
top: 25.48vh;
right: 3.75vw;
background: url('../image/p3_couplet_first.png') no-repeat center center;
background-size: 100%;
}
#page3 > .p3_blessing{
width: 32vw;
height:32vw;
position: absolute;
bottom: 10vh;
right: 0;
left: 0;
margin:0 auto;
border-radius: 50%;
background: url('../image/p3_blessing.png') no-repeat center center;
background-size: 100%;

-webkit-animation: music 4s 1s infinite linear;
-o-animation: music 4s 1s infinite linear;
animation: music 4s 1s infinite linear;
}